*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --light-main-color: rgba(255,255,255,0.83);
    --light-solid-color: #fff;
    --main-text-color: var(--light-main-color);
    --main-solid-color: var(--light-solid-color);
}

body, html{
    height: 100%;
    width: 100%;
    position: relative;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

#background{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#background video{
    min-width: 100%;
    min-height: 100%;
}

main{
    margin-bottom: 15px;
    width: 100%;
    min-height: 100%;
    flex-direction: column;
}

button{
    min-width: 100px;
    min-height: 50px;
    max-width: 150px;
    max-height: 50px;
    width: 150px;
    outline: none;
    padding: 5px;
    margin: 5px;
    background-color: rgba(0,0,0,0);
    border: 2px solid var(--main-text-color);
    border-radius: 5px;
    color: var(--main-text-color);
    font-size: 20px;
    transition: all 150ms ease;
}

button:hover{
    font-size: 30px;
    color: var(--main-solid-color);
}

button:before{
    font-size: 20px;
    color: var(--main-text-color);
}

button:active{
    font-size: 35px;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: rgb(29, 29, 29);
}

::-webkit-scrollbar-thumb{
    background: rgb(78, 78, 78);
    border: 3px;
    border-radius: 15px;
}

.menu-button{
    width: 50px;
    height: 50px;
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 3;
    transition: all 1s ease;
}

.menu-button .burger{
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
}

.menu-button:hover{
    cursor: pointer;
}

.menu-button .first{
    top: 10;
}
.menu-button .second{
    top: 20px;
}
.menu-button .third{
    bottom: 10px;
}

.menu-button .burger{
    transition: all 0.4s ease;
}

.menu-button.active .first{
    transform: rotate(45deg);
    top: 23px;
}
.menu-button.active .third{
    transform: rotate(-45deg);
    bottom: 23px;
}
.menu-button.active .second{
    transform: scale(0);
}

.menu{
    transition: all 400ms ease;
    visibility: hidden;
    min-width: 200px;
    max-width: 0;
    width: 40%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    color: var(--main-solid-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transform: translateX(-100%);
    overflow: auto;
    font-size: 30px;
}

.menu.active{
    max-width: 400px;
    visibility: visible;
    transform: translateX(0px);
}

.menu .container{
    margin-top: 90px;
}

.menu-action{
    height: 50px;
    margin: 2px;
    cursor: pointer;
}

.menu-action p{
    transition: all 0.4s ease;
    width: 100%;
    height: 50px;
    background-color: rgba(255,255,255,0.3);
}

.menu-action p:hover{
    background-color: rgba(0,0,0,0.5);
}

.inner{
    transition: all 0.3s ease;
    width: 100%;
    min-height: 0px;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    margin: 0px;
    background-color: rgba(255,255,255,0.1);
    color: #fff;
    cursor: auto;
}

.inner.visible{
    min-height: 50px;
    height: auto;
    margin: 5px 0;
    opacity: 1;
    visibility: visible;
}

.inner input{
    transition: all 0.5s ease;
    width: 0px;
    min-height: 0px;
    height: 0px;
    opacity: 0;
    text-align: center;
}

.inner.visible input{
    width: 40px;
    min-height: 30px;
    height: 30px;
    font-size: 25px;
    opacity: 1;
    outline: none;
    background-color: rgba(255,255,255,0.83);
}

.inner.visible input:focus,
.inner.visible input:hover{
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    transition: all 0.3s ease;
}

.inner.visible input:focus{
    border: 2px solid var(--light-main-color);
}

.inner.backgrounds{
    position: relative;
    width: 100%;
}

.inner.backgrounds:hover{
    cursor: pointer;
}

.inner.backgrounds img{
    min-width: 100%;
    min-height: 100%;
    opacity: 85%;
    z-index: 5; 
}

.inner.backgrounds span{
    position: absolute;
    color: var(--light-main-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif
}

.current-task{
    flex-direction: column;
    width: 80%;
}

.time{
    height: 80%;
    color: var(--main-text-color);
    font-size: 300px;
    font-family: Verdana, Geneva, sans-serif;
}

.time-actions{
    gap: 40px;
}

.description{
    min-height: 300px;
    height: 10%;
    width: 100%;
    margin: 15px 0;
    padding: 15px;
    transition: all 550ms;
    background-color: rgba(0,0,0,0.4);
}

.description:hover{
    background-color: rgba(0,0,0,0.6);
}

.description p{
    color: var(--main-solid-color);
    font-size: 50px;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
}

.current-task-info{
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 26px;
    text-align: center;
    margin: 15px 0;
}

.add-task{
    margin-top: 60px;
    height: 200px;
    width: 100%;
    margin: 150px 0;
}

.add-task div{
    width: 80%;
    height: 70%;
    position: relative;
}

#add-task-input{
    width: 100%;
    height: 100%;
    outline: none;
    border: 3px solid rgba(0,0,0,0);
    font-size: 90px;
    padding: 0 15px;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) var(--main-solid-color) rgba(0,0,0,0);
    border-radius: 0px;
    color: var(--main-solid-color);
    transition: all 550ms;
    text-align: center;
}

#add-task-input::placeholder{
    color: var(--main-text-color);
}

#add-task-input:hover, #add-task-input:focus{
    font-size: 100px;
    border: 3px solid var(--main-solid-color);
    border-radius: 10px;
}

#chars{
    position: absolute;
    font-size: 12px;
    font-family: Verdana, Geneva, sans-serif;
    right: 10px;
    bottom: 10px;
    color: var(--main-text-color);
}

.task-list{
    width: 100%;
}

.done:hover, .save:hover{
    color: rgb(0,200,0);
    border-color: green;
    background-color: rgba(0,200,0,0.3);
}

.delete:hover, .reset:hover{
    color: red;
    border: 2px solid red;
    background-color: rgba(200,0,0,0.3);
}

#tasks{
    flex-direction: column;
    justify-content: flex-start;
    min-height: 300px;
    width: 80%;
}

#task-count{
    min-height: 100px;
    width: 100%;
    color: var(--main-solid-color);
    font-size: 80px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
}

.task{
    width: 100%;
    min-height: 350px;
    display: flex;
    align-items: center;
    border: 3px solid var(--main-solid-color);
    border-radius: 20px;
    color: var(--main-text-color);
    margin: 15px 0;
    transition: all 400ms;
}

.task:hover{
    background-color: rgba(0,0,0,0.5);
    color: var(--main-solid-color);
    border-color: rgba(0,0,0,0.7);
}

.task:hover .task-info{
    color: var(--main-solid-color);
}

.task .total{
    visibility: hidden;
}

.current{
    background-color: rgba(0,0,0,0.5);
    color: var(--main-solid-color);
    border-color: rgba(0,0,0,0.7);
}

.task-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    width: 30%;
    height: 100%;
}

#time{
    transition: all 0.5s ease;
    color: var(--main-text-color);
}

#time.break{
    color: rgba(0, 150, 0, 0.83);
}

.task-sessions{
    font-size: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.add-sub button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
}

.add-sub > button:hover{
    cursor: pointer;
    font-size: 35px;
    color: var(--main-solid-color);
}

.add-sub > button:active{
    font-size: 38px;
}

.task-duration{
    font-size: 100px;
}

.task-description{
    width: 70%;
    height: 100%;
}

.task-description p{
    height: 100%;
    width: 100%;
    font-size: 50px;
    text-align: center;
    padding: 15px;
    word-wrap: break-word;
}

.session-count{
    margin-left: 10px;
}

footer a{
    font-family: Verdana, Geneva, sans-serif;
    height: 50px;
    color: var(--main-text-color);
    font-weight: 400;
    text-decoration: none;
}